## 코드 작성 (제출)

- Algorithm Quiz 1
-  아래는 2020년 매매데이터 이다, 월별 매수 총합계(buy_amount), 이익합계(profit_amout)를 구하시오

In [1]:
import pandas as pd
from pandas import DataFrame

order_data = [
{"date":"2020/01/01", "buy_amount":"1,000.5", "profit_amount":"2,000"}, 
{"date":"2020/01/02", "buy_amount":"1,000", "profit_amount":"2,000"}, 
{"date":"2020/02/12", "buy_amount":"3000", "profit_amount":"-1,500"}, 
{"date":"2020/02/21", "buy_amount":"1,000.11", "profit_amount":"1,000.5"}, 
{"date":"2020/03/21", "buy_amount":"1,000", "profit_amount":"2,000"}, 
{"date":"2020/04/01", "buy_amount":"1,000", "profit_amount":"92,000"}, 
{"date":"2020/04/11", "buy_amount":"1,000.6", "profit_amount":"2,000.9"}, 
{"date":"2020/06/02", "buy_amount":"11,000", "profit_amount":"122,000"}, 
{"date":"2020/07/21", "buy_amount":"1,000", "profit_amount":"-2,000"}, 
{"date":"2020/07/22", "buy_amount":"1,000", "profit_amount":"2,000"}, 
{"date":"2020/08/21", "buy_amount":"1,000", "profit_amount":"-122,000"}, 
{"date":"2020/08/26", "buy_amount":"2,000", "profit_amount":"3,000"},
{"date":"2020/09/21", "buy_amount":"1,000", "profit_amount":"-122,000"}, 
{"date":"2020/10/26", "buy_amount":"2,000", "profit_amount":"3,000.12"},
{"date":"2020/11/29", "buy_amount":"1,000.2", "profit_amount":"-122,000"}, 
{"date":"2020/12/26", "buy_amount":"2,000", "profit_amount":"3,000"}
]

In [2]:
K = []
for i in order_data:
    K.append(
            {'date' : i['date'][:7],
             'buy_amount' : i['buy_amount'],
             'profit_amount' :i['profit_amount']
             
             })

In [3]:
df = DataFrame(data = K)
df = df.replace(',', '', regex=True)
df['buy_amount'] = pd.to_numeric(df['buy_amount'])
df['profit_amount'] = pd.to_numeric(df['profit_amount'])

In [4]:
Grouped = df.groupby("date").sum()
grouped2 = Grouped.reset_index() #https://sjquant.tistory.com/55
grouped2

       date  buy_amount  profit_amount
0   2020/01     2000.50        4000.00
1   2020/02     4000.11        -499.50
2   2020/03     1000.00        2000.00
3   2020/04     2000.60       94000.90
4   2020/06    11000.00      122000.00
5   2020/07     2000.00           0.00
6   2020/08     3000.00     -119000.00
7   2020/09     1000.00     -122000.00
8   2020/10     2000.00        3000.12
9   2020/11     1000.20     -122000.00
10  2020/12     2000.00        3000.00

In [5]:
DID = grouped2.to_numpy()

In [6]:
monthly_order_date = {}

In [7]:
r,c = DID.shape # 행, 열

In [8]:
for i in DID:
    monthly_order_date[i[0]]= { "buy_amount":i[1], "profit_amount":i[2]     }

In [9]:
monthly_order_date

{'2020/01': {'buy_amount': 2000.5, 'profit_amount': 4000.0},
 '2020/02': {'buy_amount': 4000.11, 'profit_amount': -499.5},
 '2020/03': {'buy_amount': 1000.0, 'profit_amount': 2000.0},
 '2020/04': {'buy_amount': 2000.6, 'profit_amount': 94000.9},
 '2020/06': {'buy_amount': 11000.0, 'profit_amount': 122000.0},
 '2020/07': {'buy_amount': 2000.0, 'profit_amount': 0.0},
 '2020/08': {'buy_amount': 3000.0, 'profit_amount': -119000.0},
 '2020/09': {'buy_amount': 1000.0, 'profit_amount': -122000.0},
 '2020/10': {'buy_amount': 2000.0, 'profit_amount': 3000.12},
 '2020/11': {'buy_amount': 1000.2, 'profit_amount': -122000.0},
 '2020/12': {'buy_amount': 2000.0, 'profit_amount': 3000.0}}

In [10]:
#TestCase1
monthly_order_date["2020/01"]

{'buy_amount': 2000.5, 'profit_amount': 4000.0}

In [11]:
#TestCase2
monthly_order_date["2020/02"]['profit_amount']

-499.5

====================================================================================

##  코드작성 과정 (피드백 받은 이후임)

In [285]:
data1 = [
{"date":"2020/01/01", "buy_amount":"1,##  완성본 만들기 위한 빌드업000.5", "profit_amount":"2,000"}, 
{"date":"2020/01/02", "buy_amount":"1,000", "profit_amount":"2,000"}, 
{"date":"2020/02/12", "buy_amount":"3000", "profit_amount":"-1,500"}, 
{"date":"2020/02/21", "buy_amount":"1,000.11", "profit_amount":"1,000.5"}, 
{"date":"2020/03/21", "buy_amount":"1,000", "profit_amount":"2,000"}, 
{"date":"2020/04/01", "buy_amount":"1,000", "profit_amount":"92,000"}, 
{"date":"2020/04/11", "buy_amount":"1,000.6", "profit_amount":"2,000.9"}, 
{"date":"2020/06/02", "buy_amount":"11,000", "profit_amount":"122,000"}, 
{"date":"2020/07/21", "buy_amount":"1,000", "profit_amount":"-2,000"}, 
{"date":"2020/07/22", "buy_amount":"1,000", "profit_amount":"2,000"}, 
{"date":"2020/08/21", "buy_amount":"1,000", "profit_amount":"-122,000"}, 
{"date":"2020/08/26", "buy_amount":"2,000", "profit_amount":"3,000"},
{"date":"2020/09/21", "buy_amount":"1,000", "profit_amount":"-122,000"}, 
{"date":"2020/10/26", "buy_amount":"2,000", "profit_amount":"3,000.12"},
{"date":"2020/11/29", "buy_amount":"1,000.2", "profit_amount":"-122,000"}, 
{"date":"2020/12/26", "buy_amount":"2,000", "profit_amount":"3,000"}
]

In [286]:
K = []
for i in data1:
    K.append(
            {'date' : i['date'][:7],
             'buy_amount' : i['buy_amount'],
             'profit_amount' :i['profit_amount']
             
             })

In [287]:
K

[{'date': '2020/01', 'buy_amount': '1,000.5', 'profit_amount': '2,000'},
 {'date': '2020/01', 'buy_amount': '1,000', 'profit_amount': '2,000'},
 {'date': '2020/02', 'buy_amount': '3000', 'profit_amount': '-1,500'},
 {'date': '2020/02', 'buy_amount': '1,000.11', 'profit_amount': '1,000.5'},
 {'date': '2020/03', 'buy_amount': '1,000', 'profit_amount': '2,000'},
 {'date': '2020/04', 'buy_amount': '1,000', 'profit_amount': '92,000'},
 {'date': '2020/04', 'buy_amount': '1,000.6', 'profit_amount': '2,000.9'},
 {'date': '2020/06', 'buy_amount': '11,000', 'profit_amount': '122,000'},
 {'date': '2020/07', 'buy_amount': '1,000', 'profit_amount': '-2,000'},
 {'date': '2020/07', 'buy_amount': '1,000', 'profit_amount': '2,000'},
 {'date': '2020/08', 'buy_amount': '1,000', 'profit_amount': '-122,000'},
 {'date': '2020/08', 'buy_amount': '2,000', 'profit_amount': '3,000'},
 {'date': '2020/09', 'buy_amount': '1,000', 'profit_amount': '-122,000'},
 {'date': '2020/10', 'buy_amount': '2,000', 'profit_amount': '3,000.12'},
 {'date': '2020/11', 'buy_amount': '1,000.2', 'profit_amount': '-122,000'},
 {'date': '2020/12', 'buy_amount': '2,000', 'profit_amount': '3,000'}]

In [288]:
from pandas import DataFrame
df = DataFrame(data = K)
df

       date buy_amount profit_amount
0   2020/01    1,000.5         2,000
1   2020/01      1,000         2,000
2   2020/02       3000        -1,500
3   2020/02   1,000.11       1,000.5
4   2020/03      1,000         2,000
5   2020/04      1,000        92,000
6   2020/04    1,000.6       2,000.9
7   2020/06     11,000       122,000
8   2020/07      1,000        -2,000
9   2020/07      1,000         2,000
10  2020/08      1,000      -122,000
11  2020/08      2,000         3,000
12  2020/09      1,000      -122,000
13  2020/10      2,000      3,000.12
14  2020/11    1,000.2      -122,000
15  2020/12      2,000         3,000

In [290]:
import pandas as pd

df = df.replace(',', '', regex=True)
df['buy_amount'] = pd.to_numeric(df['buy_amount'])
df['profit_amount'] = pd.to_numeric(df['profit_amount'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           16 non-null     object
 1   buy_amount     16 non-null     float64
 2   profit_amount  16 non-null     float64
dtypes: float64(2), object(1)
memory usage: 512.0+ bytes

In [291]:
Grouped = df.groupby("date").sum()
Grouped

         buy_amount  profit_amount
date
2020/01     2000.50        4000.00
2020/02     4000.11        -499.50
2020/03     1000.00        2000.00
2020/04     2000.60       94000.90
2020/06    11000.00      122000.00
2020/07     2000.00           0.00
2020/08     3000.00     -119000.00
2020/09     1000.00     -122000.00
2020/10     2000.00        3000.12
2020/11     1000.20     -122000.00
2020/12     2000.00        3000.00

In [293]:
grouped2 = Grouped.reset_index() #https://sjquant.tistory.com/55

In [294]:
grouped2

       date  buy_amount  profit_amount
0   2020/01     2000.50        4000.00
1   2020/02     4000.11        -499.50
2   2020/03     1000.00        2000.00
3   2020/04     2000.60       94000.90
4   2020/06    11000.00      122000.00
5   2020/07     2000.00           0.00
6   2020/08     3000.00     -119000.00
7   2020/09     1000.00     -122000.00
8   2020/10     2000.00        3000.12
9   2020/11     1000.20     -122000.00
10  2020/12     2000.00        3000.00

In [297]:
DID = grouped2.to_numpy()
DID

array([['2020/01', 2000.5, 4000.0],
       ['2020/02', 4000.11, -499.5],
       ['2020/03', 1000.0, 2000.0],
       ['2020/04', 2000.6, 94000.9],
       ['2020/06', 11000.0, 122000.0],
       ['2020/07', 2000.0, 0.0],
       ['2020/08', 3000.0, -119000.0],
       ['2020/09', 1000.0, -122000.0],
       ['2020/10', 2000.0, 3000.12],
       ['2020/11', 1000.2, -122000.0],
       ['2020/12', 2000.0, 3000.0]], dtype=object)

In [299]:
monthly_order_date = {}
r,c = DID.shape # 행, 열

In [300]:
r

11

In [301]:
c

3

In [302]:
for i in DID:
    print(i[0])

2020/01
2020/02
2020/03
2020/04
2020/06
2020/07
2020/08
2020/09
2020/10
2020/11
2020/12

In [303]:
for i in DID:
    print(i[1])

2000.5
4000.11
1000.0
2000.6
11000.0
2000.0
3000.0
1000.0
2000.0
1000.2
2000.0

In [304]:
for i in DID:
    print(i[2])

4000.0
-499.5
2000.0
94000.9
122000.0
0.0
-119000.0
-122000.0
3000.12
-122000.0
3000.0

In [305]:
for i in DID:
    monthly_order_date[i[0]]= { "buy_amount":i[1], "profit_amount":i[2]     }

In [306]:
monthly_order_date

{'2020/01': {'buy_amount': 2000.5, 'profit_amount': 4000.0},
 '2020/02': {'buy_amount': 4000.11, 'profit_amount': -499.5},
 '2020/03': {'buy_amount': 1000.0, 'profit_amount': 2000.0},
 '2020/04': {'buy_amount': 2000.6, 'profit_amount': 94000.9},
 '2020/06': {'buy_amount': 11000.0, 'profit_amount': 122000.0},
 '2020/07': {'buy_amount': 2000.0, 'profit_amount': 0.0},
 '2020/08': {'buy_amount': 3000.0, 'profit_amount': -119000.0},
 '2020/09': {'buy_amount': 1000.0, 'profit_amount': -122000.0},
 '2020/10': {'buy_amount': 2000.0, 'profit_amount': 3000.12},
 '2020/11': {'buy_amount': 1000.2, 'profit_amount': -122000.0},
 '2020/12': {'buy_amount': 2000.0, 'profit_amount': 3000.0}}

In [307]:
monthly_order_date["2020/01"]

{'buy_amount': 2000.5, 'profit_amount': 4000.0}

In [308]:
monthly_order_date["2020/02"]['profit_amount']

-499.5

In [13]:
pwd

'C:\\Users\\Administrator'